<!DOCTYPE html >
<html lang="en">
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
	<meta charset="utf-8" />
	<title>My Resume</title>
	<link rel="stylesheet" type="text/css" href="/static/css/IDRViewer.css">
	<script type="text/javascript">
	var extLoaded = false;
	var intLoaded = false;
	function idrLoad() {
		idrLoaded = true;
		var heights = new Array(200);
		makeNavBar(1,1,935,1210,0,heights);
	}
	</script>
	<script src="/static/js/IDRViewer.js" type="text/javascript"></script>
</head>

<!-- Background pattern courtesy of http://subtlepatterns.com/grey-washed-wall/ -->
<body style="background:url('/static/img/bg.png') repeat scroll 0 0 transparent;">

<div id="left" style="transition-timing-function: ease; left: 0; width: 0px; height: 100%; position: absolute;">
<div id="leftNav" style="background:url('/static/img/nav.png') repeat scroll 0 0 transparent; padding-top: 7px; padding-left: 5px; top: 0; height: 32px; border-bottom: 1px solid #555555; overflow: hidden;">
	<img id="btnThumbnails" onclick="toggleOutlines(false)" alt="Thumbnails" src="/static/img/pgThumbnails.png">
	<img id="btnOutlines" onclick="toggleOutlines(true)" alt="Outlines" src="/static/img/pgOutlines.png">
</div>
<div id="leftContent" style="top: 40px; bottom: 0; left: 0; right: 0; position: absolute; overflow-y: scroll; background-color: rgba(0,0,0,0.3);">
	<div id="thumbnailPanel"></div>
	<div id="outlinePanel" style="display:none;"></div>
</div>
</div>

<div id="main" style="transition-timing-function: ease; left: 0px; right: 0; height: 100%; position: absolute;">

<!-- Background pattern courtesy of http://subtlepatterns.com/mocha-grunge/ -->
<div id="mainNav" style="background:url('/static/img/nav.png') repeat scroll 0 0 transparent; padding-top: 7px; text-align: center; height: 32px; z-index:999; border-bottom: 1px solid #555555; white-space: nowrap; top: 0;">
	<div onclick="toggleThumbnails();" style="margin-left: 7px; display: inline; float: left;"><img src="/static/img/pgThumbs.png"></div>
	
	<img id="btnPrev" src="/static/img/pgPrev.png" alt="Previous Page" onclick="prev()"/>
	<select id="goBtn" onchange="goToPage(0)">

	</select>
	<span id="pgCount" style="font-family: Arial; vertical-align: middle; font-size: 14px; color: rgb(255, 255, 255);"></span>
	<img id="btnNext" src="/static/img/pgNext.png" alt="Next Page" onclick="next()" />
	
	<img id="btnSelect" src="/static/img/pgSelect.png"  alt="Select" onclick="setSelectMode(0)" style="margin-left: 20px;" />
	<img id="btnMove" src="/static/img/pgHand.png" alt="Pan"  onclick="setSelectMode(1)" style="margin-right: 20px;" />

	<img src="/static/img/pgZoomOut.png" id="btnZoomOut" alt="Zoom Out" onclick="zoomOut()" />
	<select id="zoomBtn" onchange="zoomUpdate()">
		<option value="0">100%</option>
		<option value="1">100% (Reset)</option>
		<option value="2">Fit Width</option>
		<option value="3">Fit Height</option>
		<option value="4">Fit Page</option>

	</select>
	<img src="/static/img/pgZoomIn.png" id="btnZoomIn" alt="Zoom In" onclick="zoomIn()" />
	<div onclick="toggleFullScreen();" style="margin-right: 7px; display: inline-block; position: fixed; right: 0;"><img src="/static/img/pgFullScreen.png" /></div>
</div>

<div id="mainContent" style="top: 40px; bottom: 0; left: 0; right: 0; position: absolute; overflow: auto;">

<div id="contentContainer" style="margin: 0 auto; overflow:hidden; padding: 3px;">



<div id="jpedal" style="position:relative; width: 935px; height: 1210px; overflow: hidden; margin: 0 auto; box-shadow: 0 2px 6px rgba(100, 100, 100, 0.5);">
<!-- Begin shared JS -->
<script type="text/javascript">

// Ensure that we're not replacing any onload events
function addLoadEvent(func) {
	var oldonload = window.onload;
	if (typeof window.onload != 'function') {
		window.onload = func;
	} else {
		window.onload = function() {
			if (oldonload) {
				oldonload();
			}
			func();
		}
	}
}
addLoadEvent(function(){load1();});

</script>
<!-- End shared JS -->

<!-- Begin page background -->
<div id="pg1Overlay" style="width:100%; height:100%; position:absolute; z-index:0; background-color:rgba(0,0,0,0); -webkit-user-select: none;"></div>
<div id="pg1"><img src="/static/img/1.png" id="pdf1" style="width:935px; height:1210px; background-color:white;"/></div>

<!-- End page background -->

<!-- Begin page loading JS -->
<script type="text/javascript">
function load1(){
}
</script>
<!--[if lt IE 9]><script type="text/javascript">
isIE = true;

var divCount = 1;
for (var i = 1; i < divCount; i++) {
	var div = document.getElementById("t" + i.toString(36) + "_1");
	div.style.top = (div.offsetTop * 4) + "px";
	div.style.left = (div.offsetLeft * 4) + "px";
	div.style.zoom = "25%";}
</script><![endif]-->
<!-- End page loading JS -->

</div>

</div>
<div id="brand" style="margin:0 auto; width:94px; padding:5px; clear: both;">
</div>
</div>
</div>
<script type="text/javascript">
	if (extLoaded) { idrLoad(); } else { intLoaded = true; }
</script>
</body>
</html>
